.fr{
    float:right;
}
.fl{
    float:left;
}
.page {
    background: #333;
    height: 100%;
}

.banner{
    padding: 30px 30px;
}

.banner-item{
    padding: 2px 6px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
}

.banner-item-name{
    font-size:13px;
    color: #ddd;
}

.stock-list {
    list-style: none;
    max-width: 1600px;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor:default;
}

.stock-list li {
    padding: 3px;
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
    margin: 4px;
    min-width: 130px;
    text-align: right;
    cursor:default;
}

.stock-list .stock-name{
    float: left;
    font-size: 15px;
    color: #ddd;
}

.stock-list .stock-price{
    float:right;
    font-size: 13px;
}

.red{
    color:#f00;
    display: block;
    font-size: 13px;
}

.green{
    color:#00ff00;
    display: block;
    font-size: 13px;
}
